.div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  background-color: rgba(119, 175, 230, 0.311);
}

.div-wrapper2 {
  display: flex;
}
.div-row {
  flex-grow: 10;
}
