.btn-sell {
  background-color: purple;
  color: rgb(255, 255, 255);
}

.item-background {
  background-color: rgba(0, 0, 0, 0.1);
}

.img-wrapper {
  background-color: #e6efff;
  align-items: center;
  text-align: center;
  vertical-align: center;
  width: 75%;
}
.txt-left {
  text-align: left;
}

.tags {
  display: flex;
  text-align: left;
  align-items: left;
  width: 75%;
}

.tag-background {
  background-color: #d2b000;
}

.item-bar {
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: center;
}

.bar-col1 {
  display: flex;
  vertical-align: center;
  align-items: center;
}

.form-wrapper {
  background-color: #d2b000;
}
